@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Roboto+Slab:wght@300;400;600&family=Roboto:wght@400;700&family=Rubik+Microbe&display=swap');

* {
    margin:0;
    padding:0;
}

html {
    margin:40px 60px;
    margin-bottom:20px;
    font-size:16px;
    font-weight: 500;
    font-family: 'Noto Sans TC', sans-serif;

}

/* header */
.category ul {
    display:grid;
    list-style: none;
    grid-template-columns: auto auto auto auto auto auto auto auto;
}

li a {
    color:black;
    text-decoration: none;
}

button {
    background:none;
    border:0ch;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

button:hover {
    cursor: pointer;
}

.category .active {
    color:cornflowerblue;
}

.menue {
    text-align: center;
    height:30px;
    line-height:45px;
}

.name {
    font-size:30px;
    font-family: 'Rubik Microbe', cursive;
    font-weight:580;
    line-height:40px;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: start;
}

/* searchbox */
.searchbox {
    display: flex;
    margin-bottom:10px;
  }

.input-search {
    appearance: none;
    display: inline-block;
    font-family: 'Noto Sans TC', sans-serif;
    font-size:inherit;
    color: #a9a9a9;
    position: relative;
    border:0;
    height:30px;
    outline:0;
    padding: 0;
    transition: color 120ms;
    width: 430px;
}

.search-cancel {
    appearance: none;
    background: transparent;
    border: 0;
    color: #a9a9a9;
    font-size: 14px;
    opacity: 0;
    cursor: pointer;
    transition: 120ms;
    visibility: hidden;
}

.input-search::placeholder {
    color: #a9a9a9;
    text-align: start;
    font-family:inherit;
}

.input-search:focus {
  border-bottom:2px solid #a9a9a9;
}

.input-search:focus + .search-cancel {
    opacity: 1;
    visibility: visible;
  }


.container .none {
    display:none;
}

/* sort */
.sortbox {
    display:flex;
    margin-bottom: 10px;
}

.sortbox button {
    width:120px;
    text-align: start;
    font-size:14px;
    text-decoration: underline;
}

.sortbox .active {
    color:#61BFAD;
}


/* main */
.container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:30px;
}

.container a{
    color:black;
    text-decoration: none;
}

.container img {
    width:100%;
    object-fit: cover;
}

.container .show {
    opacity: 1;
}

.container .hide {
    display:none;
}

.container .content {
    margin:inherit;
    padding:inherit;
    margin-left:30px;
    margin-top: 5px;
    animation:sizechange 0.7s ease-in-out;
}

@keyframes sizechange {
    0% {
        width:0;
        height:0;
    }
    100% {
        width:fit-content;
        height:fit-content;
    }
}

.container .detail {
    font-size:14px;
    line-height:28px;
    font-weight: 200px;
    font-family:inherit;
    list-style: circle;
    padding-left:10px;
    animation:ease-in;
    color:black;
    animation:change 1.5s ease-in-out;
}

@keyframes change {
    0% {
        opacity:0;
    }
    100% {
        opacity: 1;
    }
}

.container p:hover{
    text-decoration: underline;
}


/* footer */
.contact {
    width:100%;
    margin-top: 60px;
    bottom:0;
    text-align: center;
    background-color: white;
}


.contact a {
    text-decoration: none;
}

.contact img{
    width:2%;
}

.note {
    text-align: center;
    font-weight: 300;
    font-size:12px;
    color:#a9a9a9;
}
