
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    text-decoration: none;
  }
  
  .navigation {
    display: flex;
    height: 50px;
    flex-wrap: nowrap;
    text-align: center;
}

@keyframes changeColor{
    0% {
        background-color:rgb(255, 255, 115);
    }
    60% {
        background-color:rgb(188, 255, 133);
    }
    80% {
        background-color:rgb(124, 192, 255);
    }
    100% {
        background-color: rgb(255, 109, 197);
    }
}

.guidetext {
    padding-top: 0.7%;
    width: 25%;
    font-size: 2vh;
    color: #ffffff;
    background-color: #77489d;
    
}
.guidetext:hover {
    animation: changeColor 1s;
}