h1{
    font-size: 24px;
    font-weight: bolder;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #77489d;
}

h3{
font-size: 18px;
font-weight: bold;
color: #77489d;
}

p{
    font-size: 16px;
    color: rgb(0, 0, 0);
}

strong {
    font-weight: bolder;
    color: #77489d;
    font-size: 16px;
}

em{
    font-weight: bolder;
    color: #77489d;
    font-size: 16px;
}

body {
    margin-top: 18px;
    margin-left: 24px;
    margin-right: 24px;
    border: 2px solid black;
    padding: 12px;
}

.left {
    height: 100%;
    Width: 40%;
    float: left;
}

.right {
    height: 100%;
    width: 40%;
    float: right;
    background: #f5e9fd;
}