h2{
    color: rgb(93, 51, 105);
    text-align: center; 
    font-size: 14px;
    font-weight: bold;
    }


h2{
    color: rgb(93, 51, 105);
    font-style: normal;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

body{background: #eeddf9}

img{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:600px;
}