body{ background: yellow}
body{font-family: 'Open Sans', sans-serif;}

.container{
    background: yellow;
    padding:20px 40px ;
    line-height: 28px;}

h1{
    font-family: 'Libre Baskerville, serif';
    text-transform: capitalize;
    font-size:  50px;}

.pullquote{
    font-family: 'Libre Baskerville, serif';
    color: #d3d3d3;
    font-size: 32px;
    font-style:italic;
    line-height: 48px;
    width: 100%;}



